/*  Стили слайдеров
    Slider SCSS
 * --------------------------------------- */


/* Slider дефолт стили */

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Slick кастом стили  */

.slick {
    /* Слайдер */
    &-slider {
        // display: flex;
        min-width: 0; // Для роботы Slick в Flex блоке
        width: 100%;
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    /* Слайдер запущен */
    &-slider.slick-initialized {}
    /* Слайдер с точками */
    &-slider.slick-dotted {}
    /* Ограничивающая оболочка */
    &-list {
        overflow: hidden;
        position: relative;
        display: block;
    }
    /* Лента слайдов */
    &-track {
        display: flex;
    }
    /* Слайд */
    &-slide {}
    /* Слайд активный (показывается) */
    &-slide.slick-active {}
    /* Слайд основной */
    &-slide.slick-current {}
    /* Слайд по центру */
    &-slide.slick-center {}
    /* Клонированный слайд */
    &-slide.slick-cloned {}
    /* Стрелка */
    &-arrow {}
    /* Стрелка влево */
    &-arrow.slick-prev {}
    /* Стрелка вправо */
    &-arrow.slick-next {}
    /* Стрелка не активная */
    &-arrow.slick-disabled {}
    /* Точки (булиты) */
    &-dots {}
    &-dots li {}
    /* Активная точка */
    &-dots li.slick-active {}
    /* Элемент точки */
    &-dots li button {}
}


/* Блок слайдера товаров */

$rem: 16;
.cards-slider {
    min-width: 0; // Для роботы Slick в Flex блоке
    margin-top: 110px;
    width: 100%;
    &__heading {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img {
            margin-bottom: 25px;
        }
        & p {
            font-size: 28rem / $rem;
            font-family: Myriab-Pro-Semibold;
            font-weight: 400;
            margin-bottom: 15px;
            & span {
                font-weight: 800;
            }
        }
    }
    &__slider {
        position: relative;
        width: 100vw;
        max-width: 1200px;
        margin: 0 auto;
        // Кнопки слайдера
        & .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            font-size: 0;
            width: 20px;
            height: 35px;
            border: none;
            transform: translate(0%, -50%);
            @media screen and (max-width: 769px) {
                display: none !important;
            }
        }
        & .slick-arrow.slick-prev {
            left: -35px;
            background: url(../img/arrow-to-left.png) 0 0 / 100% no-repeat;
            @media screen and (max-width: 1320px) {
                left: 20px;
            }
            @media screen and (max-width: 1110px) {
                left: 5%;
            }
            @media screen and (max-width: 1050px) {
                left: 4%;
            }
        }
        & .slick-arrow.slick-next {
            right: -35px;
            background: url(../img/arrow-to-right.png) 0 0 / 100% no-repeat;
            @media screen and (max-width: 1320px) {
                right: 20px;
            }
            @media screen and (max-width: 1110px) {
                right: 5%;
            }
            @media screen and (max-width: 1050px) {
                right: 4%;
            }
        }
    }
    &__item {
        min-width: 0; // Для роботы Slick в Flex блоке
        & .card {
            margin: 0 auto;
            @media screen and (max-width: 769px) {
                margin: 0 7px;
            }
        }
        display: flex;
        justify-content: center;
    }
}


/* Слайдер брендов */

.brand-slider {
    &__items {
        display: flex;
        justify-content: center;
        // margin: auto 10%;
        min-width: 0;
        @media screen and (max-width: 1200px) {
            margin: auto 20px;
        }
        // height: 100%;
    }
    & .slick-arrow {
        display: none !important;
    }
}


/* Слайдер коментов */

.comments-slider {
    & .comment__comment {}
    &__comments {
        position: relative;
        display: flex;
        align-items: center;
        width: 100vw;
        max-width: 1200px;
        margin: 0 auto;
        height: 400px;
        // Кнопки слайдера
        & .comment__img {
            position: absolute;
            top: 0px;
            left: 35%;
        }
        & .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            font-size: 0;
            width: 20px;
            height: 35px;
            border: none;
            transform: translate(0%, -50%);
            @media screen and (max-width: 769px) {
                display: none !important;
            }
        }
        & .slick-arrow.slick-prev {
            left: -35px;
            background: url(../img/arrow-to-left.png) 0 0 / 100% no-repeat;
            @media screen and (max-width: 1320px) {
                left: 20px;
            }
            @media screen and (max-width: 1110px) {
                left: 5%;
            }
            @media screen and (max-width: 1050px) {
                left: 4%;
            }
        }
        & .slick-arrow.slick-next {
            right: -35px;
            background: url(../img/arrow-to-right.png) 0 0 / 100% no-repeat;
            @media screen and (max-width: 1320px) {
                right: 20px;
            }
            @media screen and (max-width: 1110px) {
                right: 5%;
            }
            @media screen and (max-width: 1050px) {
                right: 4%;
            }
        }
        & .slick-track {
            display: flex;
            align-items: flex-end;
            height: 400px;
        }
        & .slick-slide {
            position: relative;
            display: flex;
        }
    }
}